<div>dddd</div>

<%= form_with model:[@caretaker], url: cleaners_caretaker_path(@caretaker),local: true do |f| %>
    <%= f.select :status, {'承認待ち': 0, '承認': 1, "承認不可": 2}, { class: 'form-control' , required: true } %>
    <%= f.submit "更新", class: "btn btn-default", style: "margin-left: 770px; margin-top: 15px; background-color:#0092ff; opacity:0.7;" %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
</div>